extends layout

block main
  pre
    p Hello world!


script(type='text/javascript')

  //app = new App();

  $(document).on('keydown', function (e) {

    if(e.which == 32) {
      //space
    }

    if(e.which == 37) {
      //left
    }

    if(e.which == 38) {
      //up
    }

    if(e.which == 39) {
      //right
    }

    if(e.which == 40) {
      //down
    }

  })
