extends layout

block main
  div#login
    span Username
    br
    input#name(type="text")
    button#join(type="button") Join

  div#messages
    input#msg(type="text")
    button#send(type="button") Send
    br
    div#messageList
